{% extends 'base.html' %} {% block content %}

<div class="container">
    <h3 class="add-edit-title">Edit Cocktail</h3>

    <div class="row">
        <form action="{{url_for('update_cocktail', cocktail_id=cocktail._id)}}" method="POST" class="col s12">

            <div class="input-field col s12">
                <i class="material-icons prefix">view_module</i>
                <select id="category" name="category_name">
                  <option value="" disabled selected>Types of cocktails</option>
                  {% for cat in categories %}
                    {% if cat.category_name == cocktail.category_name %}
                      <option value="{{cat.category_name}}" selected>{{cocktail.category_name}}</option>
                      {% else %}
                       <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                      {% endif %}
                  {% endfor %}
                  
                  
            </select>
                <label>Materialize Select</label>
            </div>


            <div class="input-field col s12">
                <i class="material-icons prefix">add_a_photo</i>
                <input id="profile" name="profile" type="text" class="validate" value="{{cocktail.profile}}">
                <label for="add_a_photo">Image Link (Add photo as a square)</label>
            </div>


            <div class="input-field col s12">
                <i class="material-icons prefix">chevron_right</i>
                <input id="cocktail_name" name="cocktail_name" type="text" class="validate" value="{{cocktail.cocktail_name}}">
                <label for="name">Cocktail Name</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">info</i>
                <input id="cocktail_info" name="cocktail_info" type="text" maxlength="122" class="validate" value="{{cocktail.cocktail_info}}">
                <label for="info">Cocktail Information</label>
            </div>

            <div class="input-field col s12">
                <i class="material-icons prefix">menu</i>
                <textarea name="cocktail_equipments" name="cocktail_equipments" type="text" class="materialize-textarea">{{cocktail.cocktail_equipments}}</textarea>
                <label for="equipments">Equipments</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">content_paste</i>
                <textarea name="cocktail_ingredients" name="cocktail_ingredients" type="text" class="materialize-textarea"> {{cocktail.cocktail_ingredients}}</textarea>
                <label for="ingredients">Ingredients</label>
            </div>

            <center> <button type="submit" name="action" class="btn btn-secondary btn-lg">Edit your Cocktail</button></center>
    </div>
</div>
</form>
</div>




{% endblock %}
