{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/newstyle.css')}}" type="text/css"/>
    
</head>
    <header>
  <nav>
    <div class="nav-wrapper">
      <strong><a href="{{url_for('login')}}" class="brand-logo">Cocktail Recipes</a></strong>

    </div>
  </nav>
        
    </header>
<body>
<main>
<div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {%for message in messages %}
                    <h5 class="flash-message">{{ message }}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <center><h3 class="main-title">Please Login</h3></center>
		<form method="POST" action="/user_auth">
	        <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" name="username" type="text" class="validate">
                    <label for="username">User Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="user_password" name="user_password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
			<center><button type="submit" class="btn btn-primary btn-lg">Login</button></center>
		</form>
            <center><p>Not registered yet? <strong><a href="{{url_for('register')}}" class="log-reg">Register</a></strong></center>
</div>

</main>
</body>
<footer class="page-footer center-align">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Cocktail Recipes</h5>
                <p class="grey-text text-lighten-4 footer-text">It's a platform that you can share your cocktails and find all kinds of recepies.<br> Enjoy your cocktail! </br> </p></center>
            </div>
              
            <div class="col l4 s12">
               <h5 class="white-text">Follow Us</h5>
                <ul class="list-inline">
                    <li class="social-link"><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/"> <i class="fa fa-facebook"></i></a></li>
                    <li class="social-link"><a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    <li class="social-link"><a class="grey-text text-lighten-3" target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-link"><a class="grey-text text-lighten-3" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                </ul>
                 <p class=footer-text>#CocktailRecipes</p>
            </div>
              <div class="col l4 s12">
                <h5 class="white-text">Contact</h5>
                    <p class=footer-text>Phone: 01 265 78 98
                    <p class=footer-text>E-mail:kaanrecepies@gmail.com</p>
              </div>
            </div>
        </div>
            <div class="footer-copyright">
                <div class="container">
                    <p class="center-align">© Copyright 2020 Irfan Kaan Istemi</p>
                </div>
            </div>
    </div>



</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
        $(".button-collapse").sideNav();
      
});
       

  
</script>

{% endblock %}